.section-one{
    background-color:rgb(45, 75, 110);
    color:beige;
    margin-top: 0px;
    height:280px;
}
.mid-text{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}
.left-text{
    flex-direction: column;
    justify-content: left;
    font-family: arial;
}
.left-text h4{
    font-weight: bold;
    font-size:24px;
    width:250px;
}
.left-text p{
    margin-top: -25px;
    font-size: 14px;
    width: 300px;
    color:darkgray
}
.signup-button{
    width: 80px;
    height: 20px;
    border-radius: 6px;
    transition-duration: 0.4s;
    background-color:cornflowerblue;
    color:beige;
    border: 1px solid grey;
}
.signup-button:hover{
    color:beige;
    background-color: transparent;
    border: 1px solid grey;
}
.image-placeholder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:650px;
    background-color:rgb(68, 84, 84);
}
.header-bar{
    display: flex;
    height: 60px;
    margin-left: 30px;
    margin-right: 30px;
}
.header-bar h4{ 
    flex: 1, 1, auto;
    margin-left: 20px;
    width: 250px;
    font-size: 20px;
}
.header-bar h5{
    margin-left: 12px;
    font-size: 16px;
    font-weight: lighter;
    color:darkgrey;
    flex: 1, 1, auto;
    margin-left: 20px;
}