/* This is the css styling page for the first section of the web page. */
.section-one{
    background-color:rgb(45, 75, 110);
    color:beige;
    margin-top: 0px;
    height:300px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}
.mid-text{
    display: flex;
    justify-content: space-around;
    gap:30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    
}
.left-text{
    flex-direction: column;
    justify-content: left;
    font-family: arial;
    max-width: 500px;
}
.left-text h4{
    font-weight: bold;
    font-size:24px;
}
.left-text p{
    margin-top: -25px;
    font-size: 14px;
    color:darkgray;
}
.signup-button{
    width: 80px;
    height: 20px;
    border-radius: 6px;
    transition-duration: 0.4s;
    background-color:cornflowerblue;
    color:beige;
    border: 1px solid grey;
}
.signup-button:hover{
    color:beige;
    background-color: transparent;
    border: 1px solid grey;
}
.image-placeholder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:350px;
    height: 150px;
    background-color:rgb(68, 84, 84);
    text-align: center;
}
.header-bar{
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
    height: 60px;
}
.header-bar h4{ 
    flex: 1, 1, auto;
    margin-left: 20px;
    width: 150px;
    height: auto;
    font-size: 20px;
}
.header-bar div{
    display: flex;
    justify-content: space-around;
    width: 500px;
}
.header-bar h5{
    margin-left: 12px;
    font-size: 16px;
    font-weight: lighter;
    color:darkgrey;
}